<html>
    <head>
        {{>head}}
    </head>
    <body>
            <nav class="navbar navbar-expand-lg navbar-light bg-light align-items-center">
  <a class="navbar-brand" href="#">Clinic</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item ">
        <a class="nav-link" href="../">Home</a>
      </li>
         <li class="nav-item active">
        <a class="nav-link bg-info" href="../about">About Us</a>
      </li>       
         <li class="nav-item">
        <a class="nav-link" href="../doc">Doctors Appointment</a>
      </li>
         <li class="nav-item">
        <a class="nav-link" href="../cancel">Cancelled Appointment</a>
      </li>       
      <li class="nav-item">
      <a href="../update" class="nav-link">Updation Page</a>
        </li> 
        </div>
      </li>
  </div>
</nav>
<br>
<center>{{>header}}</center>
<br>
<div class="container-fluid"> 
 <div class="container"> <br> <br> <br>
 <div class="row"> 
  <div align="center" class="col-sm-4 bg-info">
    <h5> <b>Special treatment </b> 
     <img src="https://fsa.zobj.net/crop.php?r=DDrITmOZiJ98rLqV6HbHzP5sUOWkG67T3STf4UuwfDLLvfJNpkH6Kr4c6DmcW1LWRvsXNxz9lJ06IZHkf4W7JiujuqEJeBvT5nuzdKDuNuJ32UuXnD8B4sJuL7PGux8Ui_gvXrYm-GY2MZZV_ZggbQkERCuRhw8TVCKGI2WTdmoJNheR1FyJOQOG4-Q7MOs5v1u1LCMqwXcM_FO6" height=50px width=50px></h5>
  </div>

  <div align="center" class="col-sm-4 bg-warning text-light">
    <h5 color="text-light"> Orthology <img src="https://arthroscopicsurgeon.in/wp-content/uploads/2019/03/images-2.jpg" height=50px width=50px></h5>
  </div>

  <div align="center" class="col-sm-4 bg-info">
   <h5> Dermotology
    <img src="https://sfwallpaper.com/images/wallpaper-for-doctors-12.jpg" height=50px width=50px></h5>
  </div>
 </div>
</div>
<div class="container">
 <div class="row">
  <div class="col-sm-4 bg-danger">
    <img class="img-responsive" src="https://thumbs.dreamstime.com/z/surgery-hospitalization-surgery-hospitalization-doctor-surgeon-taking-care-patient-bed-hospital-99061029.jpg" height=550px width=480px>
  </div>

  <div class="col-sm-4 bg-danger">
    <img class="img-responsive" src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcT8hFfO1wbETqtuPCgWo1XmCHSJNMZk_jg--pjVZg9-krhzs9qi&usqp=CAU" height=550px width=480px>
  </div>

  <div class="col-sm-4 bg-danger">
    <img class="img-responsive" src="https://www.doctorinsta.com/images/pic/derma.png" height=550px width=350px>
  </div> 

</div>
</div><br><br><br>
<div class="container">
<div class="row">
  <div class="col-sm-4 bg-warning"><br>
    <center>
      <h4>  Doctor's Details </h4>
    <table class="table table-sm table-bordered ">
        <thead class="table-dark">
       <tr align="center">
        <th> Name of Doctor</th>
        <th> Experience </th>
        <th> Speciality </th>
      </tr>
        </thead>
     <tbody>
         <tr class="bg-info">
             <td>Dr.Witmore</td>
             <td>07 years</td>
             <td>Heart specialist</td>
         </tr>
         <td>Dr.Gilbert</td>
         <td>04 years</td>
         <td>Ortholoist</td>
         <tr class="bg-warning">
             <td>Dr.Stefan</td>
             <td>10 years</td>
             <td>Dermatology</td>
         </tr>
     </tbody>
      
    </table>
  </center>
  </div>
  <br><br><br>
 <div class="row">
     <div class="container-fluid">
			<div class="row slide">
				<div class="col-xl-4 triple-sec p-5 bg-info" >
					<h5 class="text-wh font-weight-bold">We have something to be proud of</h5>
					<ul class="list-unstyled mt-4">
						<li class="style-bottom-w3" >
							<h4 class="text-wh font-weight-bold">6250</h4>
							<p class="text-li">Happy Patients</p>
						</li>
						<li class="style-bottom-w3 mt-3">
							<h4 class="text-wh font-weight-bold">48</h4>
							<p class="text-li">Years of experience</p>
						</li>
					</ul>
				</div>
				<div class="col-xl-4 triple-sec p-5" style="background-color:blue; color:white;" >
					<h5 class="text-wh font-weight-bold">Opening Hours</h5>
					<ul class="list-unstyled text-wh mt-4">
						<li class="clearfix py-3">
							<span class="float-left"> Monday - Friday </span>
							<div class="value float-right"> 9.00 - 20.00 </div>
						</li>
						<li class="clearfix border-top border-bottom py-3">
							<span class="float-left"> Saturday </span>
							<div class="value float-right"> 10.00 - 16.00 </div>
						</li>
						<li class="clearfix py-3">
							<span class="float-left"> Sunday </span>
							<div class="value float-right"> 9.30 - 18.00 </div>
						</li>
					</ul>
				</div>
				<div class="col-xl-4 triple-sec p-5 text-center bg-warning " >
					<p class="text-uppercase text-li mt-xl-5 mt-4 pt-xl-2">Check Our Service</p>
					<h4 class="down-list-w3 text-wh font-weight-bold mt-1 mb-4">Download Now</h4>
					<a href="#" class="some-small-btn bg-wh btn text-bl font-weight-bold mb-xl-0 mb-4">Check It</a>
				</div>
			</div>
		</div>
 </div>
{{>footer}}


    </body>
</html>