<html>
    <head>
        {{>head}}
    </head>
    <style>
        body{
        margin: 0%;
        background-image: url('https://wallpapercave.com/wp/wp2968511.jpg');
        }
        
    </style>
    <body>
        <nav class="navbar navbar-expand-lg navbar-light bg-light align-items-center">
  <a class="navbar-brand" href="#">Clinic</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link bg-info" href="../">Home</a>
      </li>
         <li class="nav-item">
        <a class="nav-link" href="../about">About Us</a>
      </li>       
         <li class="nav-item">
        <a class="nav-link" href="../doc">Doctors Appointment</a>
      </li>
         <li class="nav-item">
        <a class="nav-link" href="../cancel">Cancelled Appointment</a>
      </li>       
      <li class="nav-item">
      <a href="../update" class="nav-link">Updation Page</a>
        </li> 
  </div>
</nav>
<br>

<div class="container-fluid" >
    <div class="row">
 <div class="col-sm-6 bg-light"><br><br> <br>
 <h3 class="text-danger"> Welcome to Clinic </h3> 
 <h4> Best Clicnic..!! </h4> 

 <p>If you’re in the healthcare advertising field, you’re used to swimming upstream. You work in a highly regulated environment with strict barriers constantly telling you “NO.” </p>

 <p>Potential clients are disappointed patients looking for convenient health services..!! </p>
 </div>  <br><br><br>
 <div align="center" class="col-sm-6 bg-info">
   <h3 align="Center" class="text-dark"> Clinic </h3>
   <img src="https://cdn.wallpapersafari.com/11/36/V3aAmS.jpg" height=80% width=auto>
     &nbsp; &nbsp;
   <img src="https://fsb.zobj.net/crop.php?r=5lxwe7k3nlpQ8zmGGO7gkeOfmlsSns8xgYujX6NPnSx92OqU1kzHOiGcS5rh0hmnJoC57G4sKFVZlJlBBbP2XysuxgMnPLw4zOB91a_la8UHyToaVJXk32nVyDZsYDzv6EN4iGFL5CpdvKb-" height=80% width=auto>
 </div>
 
 
</div>
<div class="container"> <br> <br> 
<div class="row">
 <div class="col-sm-6 bg-warning">
   <h3 align="Center"> Speciality </h3>
   <img src="https://www.ekarnal.com/wp-content/uploads/2016/03/Heart-Diabetes-Specialist.jpg" height=250px width=auto>
   
   <img src="https://www.maxhealthcare.in/sites/default/files/styles/style-home-page-doctor/public/doctors/doctor_photo/2020/Jan/06/rajeev_aggarwal.jpg?itok=uyVmDDf5" height=250px width=250px>

 </div>

 <div class="col-sm-6 bg-light">
  <h3 align="Center" class="text-danger"> Tips From Doctor</h3>
   <ul type="number">
       <b>Then, follow the tips below for a healthy lifestyle.
</b>
    <li> Stop smoking. Tobacco use is a major risk factor for heart disease. </li>
    <li> Control your blood pressure. .. </li>
    <li> Control your cholesterol levels. ... </li>
    <li> Check for diabetes. ...</li>
    <li> Exercise. ...</li>
    <li> Eat a heart-healthy diet. ... </li>
   </ul>
 </div> <br> 
 </div>
 </div>
 </div>
 <br><br><br>
 <div class="row">
     <div class="container-fluid">
			<div class="row slide">
				<div class="col-xl-4 triple-sec p-5 bg-info" >
					<h5 class="text-wh font-weight-bold">We have something to be proud of</h5>
					<ul class="list-unstyled mt-4">
						<li class="style-bottom-w3" >
							<h4 class="text-wh font-weight-bold">6250</h4>
							<p class="text-li">Happy Patients</p>
						</li>
						<li class="style-bottom-w3 mt-3">
							<h4 class="text-wh font-weight-bold">48</h4>
							<p class="text-li">Years of experience</p>
						</li>
					</ul>
				</div>
				<div class="col-xl-4 triple-sec p-5" style="background-color:blue; color:white;" >
					<h5 class="text-wh font-weight-bold">Opening Hours</h5>
					<ul class="list-unstyled text-wh mt-4">
						<li class="clearfix py-3">
							<span class="float-left"> Monday - Friday </span>
							<div class="value float-right"> 9.00 - 20.00 </div>
						</li>
						<li class="clearfix border-top border-bottom py-3">
							<span class="float-left"> Saturday </span>
							<div class="value float-right"> 10.00 - 16.00 </div>
						</li>
						<li class="clearfix py-3">
							<span class="float-left"> Sunday </span>
							<div class="value float-right"> 9.30 - 18.00 </div>
						</li>
					</ul>
				</div>
				<div class="col-xl-4 triple-sec p-5 text-center bg-warning " >
					<p class="text-uppercase text-li mt-xl-5 mt-4 pt-xl-2">Check Our Service</p>
					<h4 class="down-list-w3 text-wh font-weight-bold mt-1 mb-4">Download Now</h4>
					<a href="#" class="some-small-btn bg-wh btn text-bl font-weight-bold mb-xl-0 mb-4">Check It</a>
				</div>
			</div>
		</div>
 </div>



    </body>


</html>